{% extends 'myapp/layout.html' %}
{% load static %}

{% block content %}
<link href="{% static 'myapp/blog_posts.css' %}" rel="stylesheet">

    <h1>Blog Posts</h1>

   <p> <a href="{% url 'create_post' %}">Create a New Post</a></p>
    {% for post in posts %}
        <div>
            <h2><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>

            <p>{{ post.content }}</p>
            <p>by {{ post.author.username }} on {{ post.date_posted }}</p>
            <p>Likes: {{ post.likes_count }}</p>

            <form action="{% url 'like_post' post.id %}" method="post">

                {% csrf_token %}

                <button type="submit" id="button">
                    {% if user.is_authenticated and user in post.liked_by.all %}
                        Unlike
                    {% else %}
                        Like
                    {% endif %}
                </button>

            </form>
            
            <p></p>

           <div> 
            <a href="{% url 'update_post' post.id %}">Edit</a>
           <a href="{% url 'delete_post' post.id %}">Delete</a>
           </div>
           
        </div>
        <hr>
    {% endfor %}
{% endblock %}

